// Colours (with alpha variants)
$gray: #867e76;
$gray-10: rgba($gray, 0.1);
$gray-20: rgba($gray, 0.2);
$gray-30: rgba($gray, 0.3);
$gray-40: rgba($gray, 0.4);
$gray-50: rgba($gray, 0.5);
$gray-60: rgba($gray, 0.6);
$gray-70: rgba($gray, 0.7);
$gray-80: rgba($gray, 0.8);
$gray-90: rgba($gray, 0.9);

// Green
$green: #48492f;
$green-10: rgba($green, 0.1);
$green-20: rgba($green, 0.2);
$green-30: rgba($green, 0.3);
$green-40: rgba($green, 0.4);
$green-50: rgba($green, 0.5);
$green-60: rgba($green, 0.6);
$green-70: rgba($green, 0.7);
$green-80: rgba($green, 0.8);
$green-90: rgba($green, 0.9);

// Maroon
$maroon: #933b13;
$maroon-10: rgba($maroon, 0.1);
$maroon-20: rgba($maroon, 0.2);
$maroon-30: rgba($maroon, 0.3);
$maroon-40: rgba($maroon, 0.4);
$maroon-50: rgba($maroon, 0.5);
$maroon-60: rgba($maroon, 0.6);
$maroon-70: rgba($maroon, 0.7);
$maroon-80: rgba($maroon, 0.8);
$maroon-90: rgba($maroon, 0.9);

// Orange
$orange: #fa5028;
$orange-10: rgba($orange, 0.1);
$orange-20: rgba($orange, 0.2);
$orange-30: rgba($orange, 0.3);
$orange-40: rgba($orange, 0.4);
$orange-50: rgba($orange, 0.5);
$orange-60: rgba($orange, 0.6);
$orange-70: rgba($orange, 0.7);
$orange-80: rgba($orange, 0.8);
$orange-90: rgba($orange, 0.9);

// Purple
$purple: #8031a7;
$purple-10: rgba($purple, 0.1);
$purple-20: rgba($purple, 0.2);
$purple-30: rgba($purple, 0.3);
$purple-40: rgba($purple, 0.4);
$purple-50: rgba($purple, 0.5);
$purple-60: rgba($purple, 0.6);
$purple-70: rgba($purple, 0.7);
$purple-80: rgba($purple, 0.8);
$purple-90: rgba($purple, 0.9);

// Tan
$tan: #d4ad67;
$tan-10: rgba($tan, 0.1);
$tan-20: rgba($tan, 0.2);
$tan-30: rgba($tan, 0.3);
$tan-40: rgba($tan, 0.4);
$tan-50: rgba($tan, 0.5);
$tan-60: rgba($tan, 0.6);
$tan-70: rgba($tan, 0.7);
$tan-80: rgba($tan, 0.8);
$tan-90: rgba($tan, 0.9);

// Team
$teal: #028896;
$teal-10: rgba($teal, 0.1);
$teal-20: rgba($teal, 0.2);
$teal-30: rgba($teal, 0.3);
$teal-40: rgba($teal, 0.4);
$teal-50: rgba($teal, 0.5);
$teal-60: rgba($teal, 0.6);
$teal-70: rgba($teal, 0.7);
$teal-80: rgba($teal, 0.8);
$teal-90: rgba($teal, 0.9);

// Colours (no alpha variants)
$base: #f8f7f4;
$black: #000000;
$success: #09a560;
$white: #ffffff;

// For dynamic class generation based on the current colour palette contents
$coloursMap: (
  'base' $base,
  'gray' $gray,
  'green' $green,
  'maroon' $maroon,
  'orange' $orange,
  'purple' $purple,
  'success' $success,
  'tan' $tan,
  'teal' $teal,
  'white' $white
);
