@import 'styles/mixins';
@import 'styles/placeholders';
@import 'styles/variables';

$product-quantity-less-more-size: 48px;

.product-quantity {
  display: flex;
  justify-content: space-between;

  [data-component-id='textfield'] {
    @extend %border-box;
    margin-bottom: 0;
    width: 100%;

    input {
      @extend %webkit-transparent-highlight;
      background: $base;
      border: 0;
      border-radius: 0;
      height: $product-quantity-less-more-size;
      text-align: center;

      &::selection {
        background: none;
      }
    }
  }

  [data-component-id='button'] {
    margin-bottom: 0;
  }
}

.less,
.more {
  @extend %border-box, %webkit-transparent-highlight;
  align-items: center;
  background: $tan-20;
  display: flex;
  font-size: 2.6rem;
  height: $product-quantity-less-more-size;
  justify-content: center;
  width: $product-quantity-less-more-size;

  &::selection {
    background: none;
  }
}

.less {
  &:not([data-locked-minus='true']) {
    @include hover() {
      &:hover {
        border: $border-xxs solid $green-20;
        cursor: pointer;
      }
    }
  }

  &[data-locked-minus='true'] {
    background: $green-10;
  }
}

.more {
  &:not([data-locked-plus='true']) {
    @include hover() {
      &:hover {
        border: $border-xxs solid $tan-30;
        cursor: pointer;
      }
    }
  }

  &[data-locked-plus='true'] {
    background: $green-10;
  }
}

.quantity {
  align-items: center;
  background: $base;
  display: flex;
  flex: 1;
  justify-content: center;
}
