@import 'styles/mixins';
@import 'styles/placeholders';
@import 'styles/variables';

$slider-handle-size: 30px;
$slider-rail-height: 20px;
$slider-padding-bottom: 40px;
$slider-title-padding-bottom: 50px;

@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
}

.slider {
  padding-bottom: $slider-padding-bottom;

  // Global styles to override rc-slider defaults
  // All styles need to have !important applied due to the way rc-slider applies default styles via JavaScript
  :global(.rc-slider-handle) {
    height: $slider-handle-size !important;
    width: $slider-handle-size !important;
  }

  :global(.rc-slider-rail) {
    border-style: solid !important;
    border-width: $border-xxs !important;
    height: $slider-rail-height !important;
  }

  :global(.rc-slider-track) {
    border-style: solid !important;
    border-width: $border-xxs !important;
    height: $slider-rail-height !important;
  }

  // Generate support for theme variants
  @each $colourName, $colourHex in $coloursMap {
    &.#{$colourName} {
      // Circle styles
      :global(.rc-slider-handle) {
        background: rgba-to-rgb(rgba($colourHex, 0.4));
        border-color: rgba($colourHex, 0.5);

        &:hover {
          border-color: rgba($colourHex, 0.8);
        }
      }

      // Glow effect when being dragged
      :global(.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging) {
        box-shadow: 0 0 0 5px rgba($colourHex, 0.2);
      }

      // Rail styles
      :global(.rc-slider-rail) {
        background: rgba($colourHex, 0.025);
        border-color: rgba($colourHex, 0.3);
      }

      // Track bar between steps
      :global(.rc-slider-track) {
        background: rgba($colourHex, 0.1);
        border-color: rgba($colourHex, 0);
      }

      // Realtime tooltip labels
      :global(.rc-slider-tooltip-inner) {
        color: $colourHex;
      }
    }
  }
}

.title {
  @include font('overline');
  display: block;
  padding-bottom: $slider-title-padding-bottom;
  text-transform: uppercase;
}

// Right-to-left layout
@include rtl() {
  .slider {
    :global(.rc-slider-mark-text):nth-child(2) {
      transform: translateX(
        100%
      ) !important; // !important used because of the way rc-slider forces styles via JavaScript
    }
  }
}
