// File: _helpbox.scss
// Author: Martin Burford (martin@martinburford.co.uk)

// Variables
$helpbox-toggle-animation: map-deep-get($components-config, 'global', 'helpbox', 'toggle');

.helpbox {
  @include shadowbox(gray('400'), 0.5);
  background: color('white');
  bottom: 0;
  height: 0;
  left: 0;
  position: fixed;
  transition: height $helpbox-toggle-animation ease-in-out, opacity $helpbox-toggle-animation ease-in-out;
  width: 100%;
  will-change: height, opacity;
  z-index: 30;

  // md up
  @include media-breakpoint-up('md') {
    height: auto;
    left: auto;
    right: 0;
    width: calculate-rem(280px);
  } // md up

  &.dimensions-check {
    height: auto;
  }

  &__header {
    @include box-sizing;
    background: $dark-blue;
    color: $white;
    display: block;
    font-family: $font-regular;
    font-size: calculate-rem(16px);
    margin-bottom: 0;
    position: relative;    
    text-align: center;

    // md up
    @include media-breakpoint-up('md') {
      text-align: left;
    } // md up    

    &:before {
      // md up
      @include media-breakpoint-up('md') {
        height: calculate-rem(32px);
        width: calculate-rem(32px);
      } // md up
    }

    &__title {
      display: inline-block;
      font-size: calculate-rem(18px);
      margin-bottom: 0;
      padding: calculate-rem(12px) calculate-rem(12px) calculate-rem(12px) calculate-rem(54px);
      position: relative;

      &:before {
        @include css-svg-icon('ico-chat-1', $white);
        height: calculate-rem(24px);
        left: calculate-rem(16px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calculate-rem(24px);
      }

      // md up
      @include media-breakpoint-up('md') {
        @include border-top-radius(10px);
        display: block;
        padding: calculate-rem(6px) calculate-rem(52px);
      } // md up
    }
  }

  &__toggle {
    @include border-radius(50%);
    background: $dark-blue;
    border: calculate-rem(1px) solid $white;
    bottom: calculate-rem(16px);
    content: '';
    cursor: pointer;
    font-size: 0;
    height: calculate-rem(48px);
    position: fixed;
    right: calculate-rem(16px);
    width: calculate-rem(48px);
    z-index: 1;

    // md up
    @include media-breakpoint-up('md') {
      bottom: initial;
      height: calculate-rem(28px);
      position: absolute;  
      top: 50%;      
      transform: translateY(-50%);
      width: calculate-rem(28px);
    } // md up

    &:before,
    &:after {
      background: $white;
      content: '';
      display: block;
      height: calculate-rem(2px);
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transition: opacity $helpbox-toggle-animation ease-in-out;
      width: 50%;
      will-change: opacity;

      // md up
      @include media-breakpoint-up('md') {
        opacity: 1;
      } // md up

      .helpbox.visible & {
        opacity: 1;
      }
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);

      // md up
      @include media-breakpoint-up('md') {
        transform: translate(-50%, -50%) rotate(0deg);
      } // md up
    }

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);

      // md up
      @include media-breakpoint-up('md') {
        transform: translate(-50%, -50%) rotate(90deg);

        .helpbox.visible & {
          opacity: 0;
        }
      } // md up
    }

    &__icon {
      @include border-radius(50%);
      border: calculate-rem(1px) solid transparent; // This is required to resolve a Safari (desktop and iOS bug)
      display: block;
      height: 100%;
      width: 100%;

      &:before {
        @include css-svg-icon('ico-chat-1', $white);
        display: block;
        height: calculate-rem(24px);
        left: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity $helpbox-toggle-animation ease-in-out;
        width: calculate-rem(24px);
        will-translate: opacity;

        // md up
        @include media-breakpoint-up('md') {
          display: none;
        } // md up

        .helpbox.visible & {
          opacity: 0;
        }
      }
    }
  }

  &__button {
    font-size: calculate-rem(20px);
    margin: 0;
    text-decoration: none;

    // md up
    @include media-breakpoint-up('md') {
      border: 0;
      height: auto;
      min-width: 0;
      text-decoration: underline;

      &:after {
        display: none;
      }

      &:hover {
        background: initial;
        border: initial;
        color: color('orange');
      }

      // Override of global styles (hence the non-BEM standard)
      .button__link {
        margin-left: 0;
        text-overflow: initial;
        white-space: normal;
      }
    } // md up
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    &__question {
      padding: calculate-rem(8px) 0;

      &:first-child {
        padding-top: calculate-rem(16px);
      }

      &:last-child {
        padding-bottom: calculate-rem(75px);

        .helpbox.internal-scrolling & {
          padding-bottom: calculate-rem(16px);
        }

        // md up
        @include media-breakpoint-up('md') {
          padding-bottom: calculate-rem(16px);
        } // md up
      }
    }

    &__text {
      @include box-sizing;
      font-size: calculate-rem(14px);
      margin-bottom: 0;
      padding: calculate-rem(5px) 0;
      text-align: center;


      // md up
      @include media-breakpoint-up('md') {
        margin-top: 0;
        padding: 0 0 0 calculate-rem(42px);
        text-align: left;
      } // md up

      &~.helpbox__list__contact {
        margin-top: calculate-rem(8px);

        // md up
        @include media-breakpoint-up('md') {
          margin-top: 0;
        } // md up
      }

      &--introduction {
        font-size: calculate-rem(18px);
      }
    }

    &__contact {
      min-height: calculate-rem(54px);
      padding-left: calculate-rem(74px);
      position: relative;

      // md up
      @include media-breakpoint-up('md') {
        min-height: calculate-rem(32px);
        padding-left: calculate-rem(42px);
      } // md up

      &~.helpbox__list__text {
        margin-top: calculate-rem(8px);

        // md up
        @include media-breakpoint-up('md') {
          margin-top: 0;
        } // md up
      }

      &:before {
        content: '';
        height: calculate-rem(54px);
        left: 0;
        position: absolute;
        top: 0;
        width: calculate-rem(54px);

        // md up
        @include media-breakpoint-up('md') {
          height: calculate-rem(32px);
          width: calculate-rem(32px);
        } // md up
      }

      &--call {
        &:before {
          @include css-svg-icon('40px-call');
        }
      }

      &--chat {
        &:before {
          @include css-svg-icon('40px-advice');
        }
      }

      &--email {
        &:before {
          @include css-svg-icon('ico-email-big');
        }
      }

      &--support {
        &:before {
          @include css-svg-icon('ico-question');
        }

        // md up
        @include media-breakpoint-up('md') {
          &~.helpbox__list__text {
            display: none;
          }
        }
      }
    }
  }

  &__inner {
    @include box-sizing;
    margin-bottom: 0;
    overflow-y: hidden;
    padding: 0 calculate-rem(16px);
    
    // md up
    @include media-breakpoint-up('md') {
      height: 0;
      opacity: 0;
      transition: height $helpbox-toggle-animation ease-in-out, opacity $helpbox-toggle-animation ease-in-out;
      will-change: height, opacity;
    } // md up

    &.dimensions-check {
      height: auto;
      overflow: visible;
    }

    .helpbox.internal-scrolling & {
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
    }

    .helpbox.visible & {
      opacity: 1;
    }
  }
}