// File: /assets/scss/global/_fonts.scss
// Author: Martin Burford (martin@martinburford.co.uk)

// Global SVGs

@font-face {
  font-family: "icons-global";
  src:  url("/assets/fonts/icons/global/global.eot");
  src:  url("/assets/fonts/icons/global/global.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/icons/global/global.woff") format("woff"), 
        url("/assets/fonts/icons/global/global.ttf") format("truetype"), 
        url("/assets/fonts/icons/global/global.svg#global") format("svg");
}

// Icons

@font-face {
  font-family: "icons-complementary";
  src:  url("/assets/fonts/icons/complementary/complementary.eot");
  src:  url("/assets/fonts/icons/complementary/complementary.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/icons/complementary/complementary.woff") format("woff"), 
        url("/assets/fonts/icons/complementary/complementary.ttf") format("truetype"), 
        url("/assets/fonts/icons/complementary/complementary.svg#complementary") format("svg");
}

@font-face {
  font-family: "icons-decorative";
  src:  url("/assets/fonts/icons/decorative/decorative.eot");
  src:  url("/assets/fonts/icons/decorative/decorative.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/icons/decorative/decorative.woff") format("woff"), 
        url("/assets/fonts/icons/decorative/decorative.ttf") format("truetype"), 
        url("/assets/fonts/icons/decorative/decorative.svg#decorative") format("svg");
}

@font-face {
  font-family: "icons-interactive";
  src:  url("/assets/fonts/icons/interactive/interactive.eot");
  src:  url("/assets/fonts/icons/interactive/interactive.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/icons/interactive/interactive.woff") format("woff"), 
        url("/assets/fonts/icons/interactive/interactive.ttf") format("truetype"), 
        url("/assets/fonts/icons/interactive/interactive.svg#interactive") format("svg");
}

@font-face {
  font-family: "icons-modal";
  src:  url("/assets/fonts/icons/modal/modal.eot");
  src:  url("/assets/fonts/icons/modal/modal.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/icons/modal/modal.woff") format("woff"), 
        url("/assets/fonts/icons/modal/modal.ttf") format("truetype"), 
        url("/assets/fonts/icons/modal/modal.svg#modal") format("svg");
}

// Roboto

@font-face {
  font-family: "roboto-300-light";
	src:  url("/assets/fonts/roboto-300-light/roboto-300-light.woff") format("woff"),
        url("/assets/fonts/roboto-300-light/roboto-300-light.woff2") format("woff2"), 
        url("/assets/fonts/roboto-300-light/roboto-300-light.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-300-light-italic";
  src:  url("/assets/fonts/roboto-300-light-italic/roboto-300-light-italic.woff") format("woff"),
        url("/assets/fonts/roboto-300-light-italic/roboto-300-light-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-300-light-italic/roboto-300-light-italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-400-regular";
  src:  url("/assets/fonts/roboto-400-regular/roboto-400-regular.woff") format("woff"),
        url("/assets/fonts/roboto-400-regular/roboto-400-regular.woff2") format("woff2"), 
        url("/assets/fonts/roboto-400-regular/roboto-400-regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-400-regular-italic";
  src:  url("/assets/fonts/roboto-400-regular-italic/roboto-400-regular-italic.woff") format("woff"),
        url("/assets/fonts/roboto-400-regular-italic/roboto-400-regular-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-400-regular-italic/roboto-400-regular-italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-500-medium";
  src:  url("/assets/fonts/roboto-500-medium/roboto-500-medium.woff") format("woff"),
        url("/assets/fonts/roboto-500-medium/roboto-500-medium.woff2") format("woff2"), 
        url("/assets/fonts/roboto-500-medium/roboto-500-medium.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-500-medium-italic";
  src:  url("/assets/fonts/roboto-500-medium-italic/roboto-500-medium-italic.woff") format("woff"),
        url("/assets/fonts/roboto-500-medium-italic/roboto-500-medium-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-500-medium-italic/roboto-500-medium-italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-700-bold";
  src:  url("/assets/fonts/roboto-700-bold/roboto-700-bold.woff") format("woff"),
        url("/assets/fonts/roboto-700-bold/roboto-700-bold.woff2") format("woff2"), 
        url("/assets/fonts/roboto-700-bold/roboto-700-bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-700-bold-italic";
  src:  url("/assets/fonts/roboto-700-bold-italic/roboto-700-bold-italic.woff") format("woff"),
        url("/assets/fonts/roboto-700-bold-italic/roboto-700-bold-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-700-bold-italic/roboto-700-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-800-extra-bold";
  src:  url("/assets/fonts/roboto-800-extra-bold/roboto-800-extra-bold.woff") format("woff"),
        url("/assets/fonts/roboto-800-extra-bold/roboto-800-extra-bold.woff2") format("woff2"), 
        url("/assets/fonts/roboto-800-extra-bold/roboto-800-extra-bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-800-extra-bold-italic";
  src:  url("/assets/fonts/roboto-800-extra-bold-italic/roboto-800-extra-bold-italic.woff") format("woff"),
        url("/assets/fonts/roboto-800-extra-bold-italic/roboto-800-extra-bold-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-800-extra-bold-italic/roboto-800-extra-bold-italic.ttf") format("truetype");
}

// Roboto Condensed

@font-face {
  font-family: "roboto-condensed-300-light";
  src:  url("/assets/fonts/roboto-condensed-300-light/roboto-condensed-300-light.woff") format("woff"),
        url("/assets/fonts/roboto-condensed-300-light/roboto-condensed-300-light.woff2") format("woff2"), 
        url("/assets/fonts/roboto-condensed-300-light/roboto-condensed-300-light.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-condensed-300-light-italic";
  src:  url("/assets/fonts/roboto-condensed-300-light-italic/roboto-condensed-300-light-italic.woff") format("woff"),
        url("/assets/fonts/roboto-condensed-300-light-italic/roboto-condensed-300-light-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-condensed-300-light-italic/roboto-condensed-300-light-italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-condensed-400-regular";
  src:  url("/assets/fonts/roboto-condensed-400-regular/roboto-condensed-400-regular.woff") format("woff"),
        url("/assets/fonts/roboto-condensed-400-regular/roboto-condensed-400-regular.woff2") format("woff2"), 
        url("/assets/fonts/roboto-condensed-400-regular/roboto-condensed-400-regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-condensed-400-regular-italic";
  src:  url("/assets/fonts/roboto-condensed-400-regular-italic/roboto-condensed-400-regular-italic.woff") format("woff"),
        url("/assets/fonts/roboto-condensed-400-regular-italic/roboto-condensed-400-regular-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-condensed-400-regular-italic/roboto-condensed-400-regular-italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-condensed-700-bold";
  src:  url("/assets/fonts/roboto-condensed-700-bold/roboto-condensed-700-bold.woff") format("woff"),
        url("/assets/fonts/roboto-condensed-700-bold/roboto-condensed-700-bold.woff2") format("woff2"), 
        url("/assets/fonts/roboto-condensed-700-bold/roboto-condensed-700-bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-condensed-700-bold-italic";
  src:  url("/assets/fonts/roboto-condensed-700-bold-italic/roboto-condensed-700-bold-italic.woff") format("woff"),
        url("/assets/fonts/roboto-condensed-700-bold-italic/roboto-condensed-700-bold-italic.woff2") format("woff2"), 
        url("/assets/fonts/roboto-condensed-700-bold-italic/roboto-condensed-700-bold-italic.ttf") format("truetype");
}

// Source Sans Pro

@font-face {
  font-family: "source-sans-pro-300-light";
  src:  url("/assets/fonts/source-sans-pro-300-light/source-sans-pro-300-light.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-300-light/source-sans-pro-300-light.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-300-light/source-sans-pro-300-light.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-300-light-italic";
  src:  url("/assets/fonts/source-sans-pro-300-light-italic/source-sans-pro-300-light-italic.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-300-light-italic/source-sans-pro-300-light-italic.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-300-light-italic/source-sans-pro-300-light-italic.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-400-regular";
  src:  url("/assets/fonts/source-sans-pro-400-regular/source-sans-pro-400-regular.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-400-regular/source-sans-pro-400-regular.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-400-regular/source-sans-pro-400-regular.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-400-regular-italic";
  src:  url("/assets/fonts/source-sans-pro-400-regular-italic/source-sans-pro-400-regular-italic.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-400-regular-italic/source-sans-pro-400-regular-italic.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-400-regular-italic/source-sans-pro-400-regular-italic.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-600-semi-bold";
  src:  url("/assets/fonts/source-sans-pro-600-semi-bold/source-sans-pro-600-semi-bold.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-600-semi-bold/source-sans-pro-600-semi-bold.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-600-semi-bold/source-sans-pro-600-semi-bold.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-600-semi-bold-italic";
  src:  url("/assets/fonts/source-sans-pro-600-semi-bold-italic/source-sans-pro-600-semi-bold-italic.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-600-semi-bold-italic/source-sans-pro-600-semi-bold-italic.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-600-semi-bold-italic/source-sans-pro-600-semi-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-700-bold";
  src:  url("/assets/fonts/source-sans-pro-700-bold/source-sans-pro-700-bold.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-700-bold/source-sans-pro-700-bold.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-700-bold/source-sans-pro-700-bold.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-700-bold-italic";
  src:  url("/assets/fonts/source-sans-pro-700-bold-italic/source-sans-pro-700-bold-italic.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-700-bold-italic/source-sans-pro-700-bold-italic.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-700-bold-italic/source-sans-pro-700-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-800-extra-bold";
  src:  url("/assets/fonts/source-sans-pro-800-extra-bold/source-sans-pro-800-extra-bold.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-800-extra-bold/source-sans-pro-800-extra-bold.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-800-extra-bold/source-sans-pro-800-extra-bold.ttf") format("truetype");
}

@font-face {
  font-family: "source-sans-pro-800-extra-bold-italic";
  src:  url("/assets/fonts/source-sans-pro-800-extra-bold-italic/source-sans-pro-800-extra-bold-italic.woff") format("woff"),
        url("/assets/fonts/source-sans-pro-800-extra-bold-italic/source-sans-pro-800-extra-bold-italic.woff2") format("woff2"), 
        url("/assets/fonts/source-sans-pro-800-extra-bold-italic/source-sans-pro-800-extra-bold-italic.ttf") format("truetype");
}