// File: /assets/css/global/_buttons.scss
// Author: Martin Burford (martin@martinburford.co.uk)

// Colours

$button-primary-hover: map-deep-get($colours, "button", "primary", "hover");
$button-primary-inactive: map-deep-get($colours, "button", "primary", "inactive");
$button-primary-white-hover: map-deep-get($colours, "button", "primary", "white", "hover");
$button-secondary-border: map-deep-get($colours, "button", "secondary", "border");
$button-secondary-hover: map-deep-get($colours, "button", "secondary", "hover");
$button-secondary-inactive: map-deep-get($colours, "button", "secondary", "inactive");
$button-secondary-text: map-deep-get($colours, "button", "secondary", "text");

// Configuration

$button-fade-duration: map-deep-get($configuration, "global", "button", "fade-duration");
$button-floating-size: map-deep-get($configuration, "global", "button", "floating-size");

.button {
  @include border-radius(30px);
  @include box-sizing;
  border: 0;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1em;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background $button-fade-duration ease-in-out, border $button-fade-duration ease-in-out, color $button-fade-duration ease-in-out;
  will-change: background, border, color;

  &:before {
    transition: color $button-fade-duration ease-in-out;
    will-change: color;
  }

  &--primary {
    background: $button-primary-inactive;
    color: $white;

    &:focus,
    &:hover {
      background: $button-primary-hover;      
    }

    &[class*="-edit"] {
      @include icon-icomoon("complementary", "upload", $white, 16, $custom-side-offset: 20px, $space-to-content: 30);
    }

    &-white {
      background: none;
      color: $button-primary-inactive;

      &[class*="-edit"] {
        @include icon-icomoon("complementary", "upload", $button-primary-inactive, 16, $custom-side-offset: 20px, $space-to-content: 30);
      }

      &:focus,
      &:hover {
        background: $button-primary-white-hover;
        color: $white;

        &:before {
          color: $white;
        }
      }
    }
  }

  &--secondary {
    background: $white;
    border-color: $button-secondary-border;
    border-style: solid;
    border-width: 2px;
    color: $button-secondary-text;

    &[class*="-edit"] {
      @include icon-icomoon("complementary", "upload", $button-secondary-text, 16, $custom-side-offset: 20, $space-to-content: 30);
    }

    &:focus,
    &:hover {
      background: $button-secondary-hover;
      color: $white;

      &:before {
        color: $white;
      }
    }

    &-white {
      background: none;
      border-color: $white;
      border-style: solid;
      border-width: 2px;
      color: $white;

      &[class*="-edit"] {
        @include icon-icomoon("complementary", "upload", $white, 16, $custom-side-offset: 20, $space-to-content: 30);
      }

      &:focus,
      &:hover {
        border-color: transparent;
        color: $button-secondary-text;

        &:before {
          color: $button-secondary-text;
        }
      }
    }
  }

  &--floating {
    @include icon-icomoon("complementary", "add", $white, $button-floating-size/2, $custom-side-offset: calc(50% - #{$button-floating-size/4}px));
    filter: drop-shadow(0px 4px 4px rgba($black, 0.5));
    background: $button-primary-inactive;
    border: 1px solid rgba($black, 0.1);
    bottom: 16px;
    font-size: 0;
    height: #{$button-floating-size}px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    right: 16px;
    width: #{$button-floating-size}px;
    z-index: 2;

    &:focus,
    &:hover {
      background: $button-primary-hover;
    }
  }

  &--disabled {
    cursor: default;
    opacity: 0.15;

    &:hover {
      background: initial;
    }

    &.button--secondary:hover {
      color: $primary-blue-accent;
    }
  }

  &[class*="--icon"] {
    position: relative;
  }
}