@import "styles/_functions";
@import "styles/_mixins";
@import "styles/_variables";

%border-box {
  box-sizing: border-box;
}

%ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%glow {
  @each $theme-name, $theme-props in $themes {
    [data-theme="#{$theme-name}"] & {
      @include box-shadow(0, 0, $shadow-xs, get-style-from-map($theme-name + ".global.glow-colour", $themes));
    }
  } 
}

%glow-highlight {
  @each $theme-name, $theme-props in $themes {
    [data-theme="#{$theme-name}"] & {
      @include box-shadow(0, 0, $shadow-xs, get-style-from-map($theme-name + ".global.glow-colour-highlight", $themes));
    }
  } 
}

%glow-thin {
  @each $theme-name, $theme-props in $themes {
    [data-theme="#{$theme-name}"] & {
      @include box-shadow(0, 0, $shadow-xxs, get-style-from-map($theme-name + ".global.glow-colour", $themes));
    }
  } 
}

%webkit-transparent-highlight {
  -webkit-tap-highlight-color: transparent;
}