@use "sass:map";

@import "@aigence/styles/_functions";

$theme-light-base: map.get($colours-map, "coral");

// These colours determine what background an rgba alpha is merged with when creating the corresponding (non-alpha) flat hex
$rgba-background-base: map.get($colours-map, "white");
$rgba-background-components: map.get($colours-map, "white");

$theme-light-5: rgba-to-rgb(rgba($theme-light-base, 0.05));
$theme-light-10: rgba-to-rgb(rgba($theme-light-base, 0.1));
$theme-light-20: rgba-to-rgb(rgba($theme-light-base, 0.2));
$theme-light-30: rgba-to-rgb(rgba($theme-light-base, 0.3));
$theme-light-40: rgba-to-rgb(rgba($theme-light-base, 0.4));
$theme-light-50: rgba-to-rgb(rgba($theme-light-base, 0.5));
$theme-light-60: rgba-to-rgb(rgba($theme-light-base, 0.6));
$theme-light-70: rgba-to-rgb(rgba($theme-light-base, 0.7));
$theme-light-80: rgba-to-rgb(rgba($theme-light-base, 0.8));
$theme-light-90: rgba-to-rgb(rgba($theme-light-base, 0.9));

$theme-light-highlight: map.get($colours-map, "coral");

$theme-light: (
  "base": $theme-light-base,
  "base-5": $theme-light-5,
  "base-10": $theme-light-10,
  "base-20": $theme-light-20,
  "base-30": $theme-light-30,
  "base-40": $theme-light-40,
  "base-50": $theme-light-50,
  "base-60": $theme-light-60,
  "base-70": $theme-light-70,
  "base-80": $theme-light-80,
  "base-90": $theme-light-90,
  // Components
  accordion:
    (
      "border-colour": map.get($colours-map, "neutral-6"),
      "header-background": map.get($colours-map, "neutral-7"),
    ),
  "bar-chart": (
    "axis-colour": map.get($colours-map, "neutral-6"),
  ),
  breadcrumb: (
    "arrow-colour": map.get($colours-map, "neutral-4"),
  ),
  bubble: (
    background: map.get($colours-map, "neutral-7"),
  ),
  button: (
    "secondary-background": map.get($colours-map, "violet"),
  ),
  card: (
    background: map.get($colours-map, "white"),
    "background-opacity-dark": 0.15,
    "background-opacity-light": 0.05,
  ),
  "contact-card": (
    "hover-background": map.get($colours-map, "neutral-7"),
    "separator-colour": map.get($colours-map, "neutral-6"),
  ),
  "data-table": (
    "alternating-row-background": map.get($colours-map, "neutral-7"),
    background: map.get($colours-map, "white"),
    "border-colour": map.get($colours-map, "neutral-6"),
    "edit-column-background": map.get($colours-map, "neutral-7"),
    "header-background": map.get($colours-map, "neutral-7"),
    "icons-for-mobile": (
      fill: $theme-light-highlight,
    ),
    "suffix-row-arrow-stroke": map.get($colours-map, "neutral-4"),
  ),
  datepicker: (
    background: map.get($colours-map, "white"),
    "border-colour": $theme-light-50,
    "centre-separator-colour": map.get($colours-map, "neutral-6"),
    "day-colour": map.get($colours-map, "neutral-4"),
    "header-background": $theme-light-10,
    "header-colour": map.get($colours-map, "neutral-4"),
    "header-prefix-colour": map.get($colours-map, "black"),
    "inside-fieldset-background": map.get($colours-map, "white"),
    "range-background": $theme-light-20,
    shadow: $theme-light-base,
    "weekend-background": map.get($colours-map, "neutral-7"),
    "weekend-font-colour": map.get($colours-map, "neutral-6"),
    "weekend-shadow": map.get($colours-map, "neutral-5"),
  ),
  debug: (
    "arrow-colour": map.get($colours-map, "neutral-4"),
    background: map.get($colours-map, "neutral-7"),
    "border-colour": map.get($colours-map, "neutral-6"),
    "content-font-colour": map.get($colours-map, "neutral-4"),
    "scrollbar-thumb-background": map.get($colours-map, "violet"),
    "scrollbar-track-background": map.get($colours-map, "neutral-6"),
    "toggle-background": map.get($colours-map, "white"),
    "toggle-background-header": map.get($colours-map, "neutral-6"),
  ),
  demos: (
    "border-colour": $theme-light-40,
    "header-background": $theme-light-base,
    "header-separator-colour": map.get($colours-map, "black"),
    "page-background": $theme-light-10,
  ),
  "disabled-fieldset": (
    "background": rgba(map.get($colours-map, "neutral-6"), 0.5),
  ),
  "document-review": (
    background: map.get($colours-map, "neutral-7"),
    "icon-colour": map.get($colours-map, "black"),
    "icon-gradient-dark": map.get($colours-map, "neutral-6"),
    "icon-gradient-light": map.get($colours-map, "neutral-7"),
    "icons-background": map.get($colours-map, "white"),
    "icons-separator": map.get($colours-map, "neutral-5"),
  ),
  "employee-card": (
    "background": map.get($colours-map, "neutral-7"),
    "separator-colour": map.get($colours-map, "neutral-6"),
  ),
  expandable: (
    "border-colour": map.get($colours-map, "neutral-6"),
    "header-background": map.get($colours-map, "neutral-7"),
  ),
  fieldset: (
    background: map.get($colours-map, "neutral-8"),
    "border-colour": map.get($colours-map, "neutral-6"),
    "heading-background": map.get($colours-map, "neutral-7"),
    "hover-background": map.get($colours-map, "neutral-3"),
    "hover-font-colour": map.get($colours-map, "white"),
  ),
  "filter-bar": (
    background: map.get($colours-map, "neutral-7"),
  ),
  "form-help": (
    "background": $theme-light-10,
  ),
  global: (
    "blocker-overlay-background": rgba(map.get($colours-map, "black"), 0.6),
    "font-colour": map.get($colours-map, "neutral-4"),
    "formfield-background": map.get($colours-map, "white"),
    "formfield-disabled-background": map.get($colours-map, "neutral-7"),
    "formfield-font-colour": map.get($colours-map, "neutral-2"),
    "formfield-placeholder-colour": map.get($colours-map, "neutral-5"),
    "formfield-transparent-background": transparent,
    "highlight-colour": $theme-light-highlight,
    "rgba-background-base": map.get($colours-map, "white"),
    "rgba-background-components": $rgba-background-components,
    "site-background": map.get($colours-map, "white"),
  ),
  grid: (
    "column-background": $theme-light-20,
    "column-background-mute": rgba($theme-light-10, 0.7),
    "column-border": $theme-light-40,
  ),
  heading: (
    "font-colour": map.get($colours-map, "neutral-3"),
  ),
  "icon-list": (
    "animated-hover-background": map.get($colours-map, "neutral-6"),
    "animated-hover-colour": map.get($colours-map, "neutral-4"),
  ),
  "image-upload": (
    background: map.get($colours-map, "neutral-7"),
    "border-colour": map.get($colours-map, "neutral-5"),
    "icon-colour": map.get($colours-map, "neutral-4"),
  ),
  "initials-in-circle": (
    background: map.get($colours-map, "neutral-6"),
  ),
  "leave-calendar": (
    "avatar-icon-colour": map.get($colours-map, "neutral-4"),
    "background": map.get($colours-map, "neutral-7"),
    "day-background": map.get($colours-map, "white"),
    "day-colour": map.get($colours-map, "neutral-4"),
    "filters-background": map.get($colours-map, "neutral-6"),
  ),
  "leave-calendar-list": (
    "bar-background": map.get($colours-map, "neutral-4"),
    "border-colour": map.get($colours-map, "neutral-6"),
    "cell-background": map.get($colours-map, "white"),
    "cell-hover-background": rgba($theme-light-highlight, 0.2),
    "employee-icon-colour": map.get($colours-map, "neutral-5"),
    "weekend-cell-background": map.get($colours-map, "neutral-7"),
  ),
  "leave-request-summary": (
    "active-text-colour": map.get($colours-map, "neutral-3"),
    "inactive-text-colour": map.get($colours-map, "neutral-5"),
  ),
  modal: (
    "header-background": $theme-light-10,
    "footer-background": $theme-light-10,
    "header-colour": map.get($colours-map, "black"),
    "outer-background": map.get($colours-map, "white"),
    "separator-colour": $theme-light-20,
  ),
  notification: (
    "background-opacity": 0.05,
  ),
  notifications: (
    "separator-colour": map.get($colours-map, "neutral-6"),
  ),
  "payslip-breakdown": (
    "background": map.get($colours-map, "neutral-8"),
    "divider-colour": map.get($colours-map, "neutral-6"),
    "icon-colour": $theme-light-highlight,
    "itemisation-list-divider-colour": map.get($colours-map, "neutral-7"),
  ),
  "progress-stepper": (
    "step-background": $theme-light-40,
    "step-background-disabled": map.get($colours-map, "white"),
    "step-border-colour-active": $theme-light-80,
    "step-border-colour-disabled": $theme-light-20,
    "surround-background": map.get($colours-map, "neutral-8"),
    "tram-line-colour": $theme-light-20,
  ),
  scrollbar: (
    "track-background": map.get($colours-map, "neutral-5"),
  ),
  sidebar: (
    "background-dark": $theme-light-base,
    "background-light": $theme-light-10,
    "border-right-colour": $theme-light-50,
    "icon-colour": map.get($colours-map, "neutral-4"),
  ),
  "signed-in": (
    "background": map.get($colours-map, "white"),
    "border-colour": map.get($colours-map, "neutral-6"),
    "heading-background": map.get($colours-map, "neutral-7"),
  ),
  statistic: (
    "number-colour": map.get($colours-map, "neutral-3"),
  ),
  tabs: (
    "active-background": $theme-light-20,
    "active-colour": $theme-light-base,
    background: map.get($colours-map, "white"),
    "border-colour": map.get($colours-map, "neutral-6"),
    "number-active-background": map.get($colours-map, "white"),
    "number-active-colour": $theme-light-base,
    "number-inactive-background": $theme-light-base,
    "number-inactive-colour": map.get($colours-map, "white"),
  ),
  "tax-breakdown": (
    "list-background": map.get($colours-map, "neutral-8"),
    "list-border": map.get($colours-map, "neutral-7"),
    "totals-list-background": map.get($colours-map, "neutral-7"),
    "totals-list-border": map.get($colours-map, "neutral-6"),
  ),
  "text-in-circle": (
    background: map.get($colours-map, "neutral-6"),
    colour: inherit,
  ),
  "three-dots": (
    "dot-colour": map.get($colours-map, "black"),
    "icon-colour": map.get($colours-map, "neutral-2"),
    "icon-disabled-colour": map.get($colours-map, "neutral-5")
  ),
  "toggle-block": (
    "border-colour": map.get($colours-map, "neutral-6"),
    "header-background": map.get($colours-map, "neutral-7"),
  ),
  tooltip: (
    background: rgba(map.get($colours-map, "black"), 0.9),
    colour: map.get($colours-map, "neutral-8"),
  ),
  "user-profile": (
    initials: (
      background: map.get($colours-map, "neutral-6"),
      "font-colour": map.get($colours-map, "neutral-4"),
    ),
  ),
);
