//- File: /dev/views/final/overview.pug
//- Author: Martin Burford (martin@martinburford.co.uk)

extends ../layout.pug

block styles

  link(rel="stylesheet", href="/assets/css/app.min.css" media="all")
  link(rel="stylesheet", href="/assets/css/app-global.min.css" media="all")
  link(rel="stylesheet", href="/assets/css/app-overview.min.css" media="all")
  link(rel="stylesheet", href="/assets/css/app-overview-print.min.css" media="print")

block bodyContent

  .page-overview
    .grid-12
      .row
        .column-12
          //- Header
          include ../_components/final/overview/header.pug
          +generate-header-markup()

          //- Page type
          include ../_components/final/overview/page-type.pug
          +generate-page-type-markup()

          .summary-wrapper
            //- Summary
            include ../_components/final/overview/summary.pug
            +generate-summary-markup()

            //- Summary breakpoints
            include ../_components/final/overview/summary-breakpoints.pug
            +generate-summary-breakpoints-markup()

          //- Box toggle
          include ../_components/final/overview/box-toggle.pug
          +generate-box-toggle-markup()

    main(data-experiment-id="123")
      .grid-12
        .row
          .column-6.pb0
            //- Breakpoint image
            include ../_components/final/overview/breakpoint-image.pug
            +generate-breakpoint-image-markup(["mobile","desktop"])

          .column-6
            include ../_components/final/overview/rte-icon.pug

            //- RTE icon (problem)
            +generate-rte-icon-markup("problem")

            //- RTE icon (hypothesis)
            +generate-rte-icon-markup("hypothesis")

        .row
          .column-12.theme--blue
            .row
              .column-6.column-indent-6
                //- RTE icon (results summary)
                +generate-rte-icon-markup("results-summary")

                //- RTE icon (outcome)
                +generate-rte-icon-markup("outcome")

        .row
          .column-12
            .row
              .column-6
                //- RTE icon (results)
                +generate-rte-icon-markup("results")

              .column-6
                //- Heading blue bar
                include ../_components/final/global/heading-blue-bar.pug
                +generate-heading-blue-bar-markup("Benefits bar interaction")

                //- Split bubble
                include ../_components/final/overview/split-bubble.pug
                +generate-split-bubble-markup()

        .row
          .column-6.theme--magenta.double-gutter
            //- RTE icon (recommendations)
            +generate-rte-icon-markup("recommendations")

        .row
          .column-12.theme--blue
            //- Footer (x3)
            include ../_components/final/overview/footer-x3.pug
            +generate-footer-x3-markup()

        .row
          .column-12.double-gutter
            //- Recent activity
            include ../_components/final/overview/recent-activity.pug
            +generate-recent-activity-markup()

    .grid-12
      .row
        .column-12
          //- Footer links
          include ../_components/final/overview/footer-links.pug
          +generate-footer-links-markup()

  //- Hoverbox (logout)
  include ../_components/final/global/hoverbox-logout.pug
  +generate-hoverbox-logout-markup()

block scripts

  script(src='/assets/scripts/app-global.min.js')
  script(src='/assets/scripts/app-overview.min.js')