@use "sass:math";

@import "styles/_mixins";
@import "styles/_variables";

/// @mixin responsive-rows - Which percentage width should individual items be?
/// @param {string} $breakpoint-name - Which breakpoint should the CSS being applied against?
@mixin responsive-rows($breakpoint-name) {
  $column-breaks: 1, 2, 3, 4, 5, 6;

  @each $column-break in $column-breaks {
    &.#{$breakpoint-name}-per-row-#{$column-break} [data-component-id="checkbox"] {
      width: calc(#{math.div(100%, $column-break)} - #{$spacing-xxl});
    }
  }
}

.checkbox-list {
  [data-component-id="checkbox"] {
    margin-bottom: 0;
  }

  &.inline {
    @include breakpoint($mobile-up) {
      @include responsive-rows("mobile");
    }

    @include breakpoint($tablet-portrait-up) {
      @include responsive-rows("tablet");
    }

    @include breakpoint($desktop-up) {
      @include responsive-rows("desktop");
    }

    .outer {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      [data-component-id="checkbox"] {
        margin-right: $spacing-xxl;
  
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.title {
  display: block;
  margin-bottom: $spacing-xxs;
  text-transform: capitalize;
}