@use "sass:map";

@import "styles/_mixins";
@import "styles/_placeholders";
@import "styles/_variables";

// This CSS grid works on the basis of 3x breakpoints:

// $mobile:  1px - 767px
// $tabletPortrait: 768px - 1023px
// $tabletLandscape: 1024px only
// $desktop: 1025px - 1279px
// $widescreen: 1280px+

// ... and a 12x column layout

// Custom stylesheet variables
$grid-background: get-style-from-map("gray.100", $colours-map);
$grid-columns: 12;
$grid-gutter: "10px";

// Attach custom css declarations to each column width variant
// @mixin column-calculations
// @param {string} $cssProperty - 'margin-left' || 'margin-right' || 'width'
// @param {number} $gutterWidth - The width of the gutter to apply
@mixin column-calculations($cssProperty, $gutterWidth) {
  @for $i from 1 through $grid-columns {
    &-#{$i} {
      #{$cssProperty}: calc(
        100% / (#{$grid-columns} / #{$i}) + #{$gutterWidth}
      );
    }
  }
}

// Remove required margins for rtl layout
// @mixin column-margin-reset
// @param {string} $margin-type - 'left' || 'right'
@mixin column-margin-reset($marginType) {
  @for $i from 1 through $grid-columns {
    &-#{$i} {
      margin-#{$marginType}: 0;
    }
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -#{$grid-gutter};
  margin-top: -#{$grid-gutter};

  // Centered columns
  &.centered-x {
    .col {
      text-align: center;
    }

    &-flex {
      .col {
        display: flex;
        justify-content: center;
      }
    }
  }

  &.centered-xy {
    .col {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  // With borders
  &.with-border {
    .col {
      @extend %border-box;
      @include get-colour("border-color", "gray.200");
      border-style: solid;
      border-width: $border-xxs;
      padding: $spacing-xs;
    }
  }

  // With colour columns
  &.with-colour-columns {
    .col {
      background: $grid-background;

      &-is-mute {
        @include get-colour("border-color", "gray.200");
        background: rgba($grid-background, 0.25);
      }
    }
  }

  // With separator lines
  &.with-separator-lines {
    @include get-colour("border-top-color", "error.500");
    border-top-style: solid;
    border-top-width: $border-xxs;
  }
}

.col {
  @extend %border-box;
  @include column-calculations("width", -#{$grid-gutter});
  display: inline-block;
  margin-left: #{$grid-gutter};
  margin-top: #{$grid-gutter};

  &-offset {
    @include column-calculations("margin-left", $grid-gutter);
  }

  &-mobile {
    @include column-calculations("width", -#{$grid-gutter});

    &-horizontal-alignment-right {
      text-align: right;
    }

    &-offset {
      @include column-calculations("margin-left", $grid-gutter);
    }
  }

  @include breakpoint($tablet-portrait-up) {
    &-tablet-portrait {
      @include column-calculations("width", -#{$grid-gutter});

      &-horizontal-alignment-right {
        text-align: right;
      }

      &-offset {
        @include column-calculations("margin-left", $grid-gutter);
      }
    }
  }

  @include breakpoint($tablet-landscape-up) {
    &-tablet-landscape {
      @include column-calculations("width", -#{$grid-gutter});

      &-horizontal-alignment-right {
        text-align: right;
      }

      &-offset {
        @include column-calculations("margin-left", $grid-gutter);
      }
    }
  }

  @include breakpoint($desktop-up) {
    &-desktop {
      @include column-calculations("width", -#{$grid-gutter});

      &-horizontal-alignment-right {
        text-align: right;
      }

      &-offset {
        @include column-calculations("margin-left", $grid-gutter);
      }
    }
  }

  @include breakpoint($widescreen-up) {
    &-widescreen {
      @include column-calculations("width", -#{$grid-gutter});

      &-horizontal-alignment-right {
        text-align: right;
      }

      &-offset {
        @include column-calculations("margin-left", $grid-gutter);
      }
    }
  }

  &.horizontal-alignment-right {
    text-align: right;
  }

  &.vertical-alignment-bottom {
    margin-top: auto;
  }
}