@use "sass:map";

@import "styles/_functions";
@import "styles/_mixins";
@import "styles/_placeholders";

$sidebar-gutter: 8px;
$sidebar-header-height: 62px;
$sidebar-padding-x: $spacing-m;
$sidebar-padding-y: $spacing-s;

// Placeholders

%sidebar-selected-item {
  $gutter: $spacing-xxs;

  @include get-colour("background", "gray.100");
  @include get-colour("border-color", "gray.300");
  border-style: solid;
  border-width: $border-xxs;
  border-radius: $radius-s;
  content: "";
  display: block;
  height: calc(100% - #{$gutter * 2});
  left: $gutter;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - #{$gutter * 2});
  z-index: -1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}

.list {
  [data-component-id="icon-list"] {
    margin-bottom: 0;

    li {
      padding: $sidebar-padding-y $sidebar-padding-x;

      &:not(:first-child) {
        margin-top: 0;
      }

      &[data-hovered="true"],
      &[data-selected="true"] {
        background: none;
        position: relative;

        &:before {
          @extend %border-box, %sidebar-selected-item;
        }

        [data-text] {
          @include get-colour("color", "base.black");
        }
      }

      &[data-hovered="true"] {
        svg path {
          @include get-colour("stroke", "base.black");
        }
      }

      &[data-selected="true"] {
        svg path {
          @include get-colour("stroke", "primary.500");
        }
      }

      [data-text] {
        @include get-font("text.m");
        display: none;
        opacity: 0;
        white-space: nowrap;
      }
    }

    [data-component-id="icon"] {
      flex-shrink: 0;
      margin-right: 0;
    }
  }
}

.list {
  @include scrollbar(get-style-from-map("gray.400", $colours-map), get-style-from-map("gray.200", $colours-map), 4px);
  margin-bottom: auto;
  overflow: hidden auto;
}

// Mobile only content

.deals {
  display: none;

  @include breakpoint($mobile-only) {
    display: block;
    padding: $sidebar-gutter;
    position: relative;

    [data-component-id="select"] {
      margin-bottom: 0;
    }
  }
}

.bottom {
  display: none;

  @include breakpoint($mobile-only) {
    @include get-colour("border-color", "gray.200");
    border-top-style: solid;
    border-top-width: $border-xxs;
    display: block;

    [data-component-id="button"] {
      margin-bottom: 0;
      width: 100%;

      &:first-child {
        margin-bottom: $spacing-xs;
      }
    }
  }
}

.quicklinks {
  [data-component-id="link"] {
    @include get-colour("color", "primary.700");
    @include get-font("text.s", 600);
    display: block;
    margin-bottom: 0;

    &:first-child {
      margin-bottom: $sidebar-gutter;
    }
  }
}

.user-profile {
  @include get-colour("border-top-color", "gray.200");
  border-top-style: solid;
  border-top-width: $border-xxs;
  padding: $sidebar-gutter;

  [data-component-id="user-profile"] {
    margin-bottom: 0;
  }

  [data-component-id="card"] {
    margin-bottom: 0;
    padding: 0;
  }

  [data-component-id="icon-list"] {
    margin-bottom: 0;
  }

  [data-component-id="icon"] {
    margin-right: 0;   
  }
}

.deals,
.quicklinks,
.user-profile {
  padding: $sidebar-gutter;
}
