// Icons
$icon-xxs: 12px;
$icon-xs: 16px;
$icon-s: 24px;
$icon-m: 32px;
$icon-l: 40px;
$icon-xl: 48px;
$icon-xxl: 64px;

$icons-map: (
  "xxs": $icon-xxs,
  "xs": $icon-xs,
  "s": $icon-s,
  "m": $icon-m,
  "l": $icon-l,
  "xl": $icon-xl,
  "xxl": $icon-xxl
)